<h1>Contact List</h1>
<%= link_to 'New Contact', new_person_path %> 

<% @people.each do |people| %>
  <div>
    
    <h3> <%= link_to people.name, person_path(people)%><h3>
    <i>Living: <%= people.alive %></i>
    <%= link_to 'Delete Contact', person_path(people), method: :delete%>
  </div>
<% end %>
